/* You can add global styles to this file, and also import other style files */
body {
  background: #136a8a; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #b3e6eb, #6281c9);
  background: linear-gradient(to left, #b3e6eb, #6281c9);
}

header {
  color: whitesmoke;
  margin: 1em;
}

.no-padding {
  padding: 0 !important;
}

.no-margin {
  margin: 0 !important;
}

.white {
  color: white !important;
}

.strike-through {
  text-decoration: line-through;
}

input.textarea {
  width: 90%;
  height: 9em;
  margin: 1em;
}

strong + small {
    display: block;
}

input[type=checkbox] {
  margin-right: 1em;
}

div.pull-right a {
  margin-left: 1em;
}

.container-input {
  border: solid 2px black;
  width: 30%;
  margin: 5px;
  padding-bottom: 1em;
  float:left;
}

.container-todo {
  border: solid 2px black;
  width: 60%;
  margin: 5px;
  padding-bottom: 1em;
  float:right;
}

.create-todo-text {
  width: 100%;
  height: 10em;
  margin-top: -1em;
  margin-bottom: 1em;
}

.priority {
  margin-left: 1em;
}

.submit {
  background-color: lightgrey;
  margin: 1em;
  margin-top: 2em;
  text-align: center;
  height: 3em;
}

button {
  border: none;
  margin-top: .6em;
  background-color: lightgreen;
  width: 50%;
}

.welcome-section {
  border: solid 2px black;
  width: 60%;
  margin: 5px;
  padding-bottom: 1em;
  float:right;
}
